<div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <div>
                    <!-- Sidebar content -->
                    <app-side-bar></app-side-bar>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <div>
                <div>
                    <!-- Greeting -->
                    <div class="greeting-container">
                        <div class="greeting">
                            <h2>Welcome, Instructor!</h2>
                            <p>Thank you for visiting our platform.</p>
                            <p>Manage what you want from this dashboard</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>