<footer class="bg-secondary text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/logo.png" alt="" class="imge">
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">help and suuport</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li><a href="#">Cookies setting</a></li>
                    <li><a href="#">Teach on elearning</a></li>
                    <li><a href="#">Get the app</a></li>
                    <li><a href="#">sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>