<div class="col-md-3">
    <div class="side-bar">
        <img src="../../../assets/logo.png" alt="" class="image">
        <h1 class="mt-3 mb-3">Admin Dashboard</h1>
        <button class="btn btn-primary btn-block mb-3" (click)="gothome()">Home</button>
        <button class="btn btn-primary btn-block mb-3" (click)="gotousermanagement()">User
            Management</button>
        <button class="btn btn-primary btn-block mb-3" (click)="gotocoursemanagement()">Course
            Management</button>
        <button class="btn btn-primary btn-block mb-3" (click)="gotstudentmanagement()">Assigning
            Students to Courses</button>
        <button class="btn btn-primary btn-block mb-3" (click)="logout()">Logout</button>
    </div>
</div>